<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Django phonenumbers by iraklikhitarishvili</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Django phonenumbers</h1>
      <h2 class="project-tagline">Phone number field for Django admin</h2>
      <a href="https://github.com/iraklikhitarishvili/django_phonenumbers" class="btn">View on GitHub</a>
      <a href="https://github.com/iraklikhitarishvili/django_phonenumbers/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/iraklikhitarishvili/django_phonenumbers/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <h1>
<a id="installation" class="anchor" href="#installation" aria-hidden="true"><span class="octicon octicon-link"></span></a>Installation</h1>

<pre><code>run  pip install django_phonenumbers
</code></pre>

<h1>
<a id="configure-settingspy" class="anchor" href="#configure-settingspy" aria-hidden="true"><span class="octicon octicon-link"></span></a>Configure settings.py</h1>

<pre><code>Add django_phonenumbers to INSTALLED_APPS
</code></pre>

<h1>
<a id="managepy" class="anchor" href="#managepy" aria-hidden="true"><span class="octicon octicon-link"></span></a>manage.py</h1>

<pre><code>run manage.py collectstatic
</code></pre>

<h1>
<a id="settingspy" class="anchor" href="#settingspy" aria-hidden="true"><span class="octicon octicon-link"></span></a>settings.py</h1>

<pre lang="sourceCode"><code>PHONE_NUMBER_REGION = 'GE'  
PHONE_NUMBERS_FORMATS_BY_REGION = {
    'GE': {
        'pattern': '(\\d{3})(\\d{2})(\\d{2})(\\d{2})', 'format': '\\1 \\2-\\3-\\4', 'prefix_format': '+%s (%s)'
    },
    'US': {
        'pattern': '(\\d{3})(\\d{3})(\\d{4})', 'format': '\\1 \\2-\\3', 'prefix_format': '+%s (%s)'
    },
}
</code></pre>

<h1>
<a id="template-example" class="anchor" href="#template-example" aria-hidden="true"><span class="octicon octicon-link"></span></a>Template example</h1>

<pre lang="sourceCode"><code>{% load croppingtools_extra %}
&lt;li&gt;
            {{ number.phone_number }}
            // {{ number.phone_number.region_code }}
            // {{ number.phone_number.country_code }}
            // {{ number.phone_number.phone_number }}
            &lt;div&gt;
                {% load phone_numbers_extra %}
                &lt;h4&gt;Filter
                    &lt;small&gt;{{ number.phone_number|phone_number_format }}&lt;/small&gt;
                &lt;/h4&gt;
                &lt;h4&gt;Simple tag
                    &lt;small&gt;
                        {% phone_number number.phone_number pattern='(\\d{3})(\\d{3})(\\d{3})' number_format='\\1 \\2-\\3' prefix_format='+%s (%s)' %}
                    &lt;/small&gt;
                &lt;/h4&gt;
            &lt;/div&gt;
&lt;/li&gt;
</code></pre>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/iraklikhitarishvili/django_phonenumbers">Django phonenumbers</a> is maintained by <a href="https://github.com/iraklikhitarishvili">iraklikhitarishvili</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
